

header {
	background: lightseagreen;
	grid-area: header;
}
nav {
	background: lightgreen;
	grid-area: nav;
}
article {
	background: lightblue;
	grid-area: content;
}
aside {
	background: lightgray;
	grid-area: aside;
}
footer {
	background: lightcoral;
	grid-area: footer;
}

html, body {
	height: 100vh;
}
body {
	display: grid;
	grid-template: 'header header header' 15vh
	               'nav content aside' 1fr
				   'footer footer footer' 8vh / 20vw 1fr 12vw;
}
